html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.controls-container {
  z-index: 1;
  position: absolute;
  top: 2%;
  left: 1%;
  background-color: white;
  width: 30%;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba(68, 68, 68, 0.7);
  color: #777777; }

.search-input {
  width: 90%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: #000; }

@media only screen and (max-width: 768px) {
  .controls-container {
    width: 98%; } }
